<div *ngIf="_user" class="user_form" align="center">
    <div align="right">
        <button (click)="salirU()">Salir</button>
    </div>
    <div align="left" style="max-width: max-content;">
        <div>
            Nombre: {{_user.nombre}}
        </div>
        <div>
            Apellidos: {{_user.apellidos}}
        </div>
        <div>
            Correo: {{_user.email}}
        </div>
    </div>
    <button (click)="showUpdate=!showUpdate">Editar</button>
    <div *ngIf="showUpdate">
        <input type="text" placeholder="Nombre" required [(ngModel)]="_user.nombre" name="nombre"/><br>
        <input type="text" placeholder="Apellidos" required [(ngModel)]="_user.apellidos" name="apellidos"/><br>
        <input type="email" placeholder="Correo" required [(ngModel)]="_user.email" name="email"/><br>
    
        <button (click)="saveUserData()">Guardar</button>
    </div>
</div>