<div *ngIf="_user" class="user_form" align="center">
    <div align="right">
        <button (click)="salirU()">Salir</button>
    </div>
    <div align="left" class="userProfile">
        <div>
            Nombre
        </div>
        <div>
            {{_user.nombre}}
        </div>
        <div>
            Apellidos
        </div>
        <div>
            {{_user.apellidos}}
        </div>
        <div>
            Correo
        </div>
        <div>
            {{_user.email}}
        </div>
    </div>
    <button (click)="showUpdate=!showUpdate">Editar</button>
    <div *ngIf="showUpdate" class="fomrUpdate">
        <input type="text" placeholder="Nombre" required="required" [(ngModel)]="_user.nombre" name="nombre"/><br>
        <input type="text" placeholder="Apellidos" required="required" [(ngModel)]="_user.apellidos" name="apellidos"/><br>
        <input type="email" placeholder="Correo" required="required" [(ngModel)]="_user.email" name="email"/><br>
    
        <button (click)="saveUserData()">Guardar</button>
    </div>
</div>